
body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
 
}
.card:hover {
    box-shadow: 0px 8px 12px rgba(31, 170, 93, 0.96); /* Updated shadow on hover */
  }

.employee:hover{
  box-shadow: 0px 8px 12px #8eaa1ff5;

}

.testimonial {
  background-color:rgb(233, 222, 163);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  margin-top: 20px;
}
.testimonial img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 40px;
}
 
.footerLinks p{
  
    /* Add styles for the paragraphs */
    margin: 5px 0;
    transition: color 0.3s, transform 0.3s; 
}
    
.footerLinks p:hover {
    
    cursor: pointer;
    transform: translateX(5px); 
  }


  .slide-from-bottom {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.1s ease, transform 0.1s ease;
}

.slide-from-bottom.active {
    opacity: 1;
    transform: translateY(0);
}